// Normalizing CSS
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {

  //Default font-size is 16px
  //so to make font size 10px we divide 10 by 16
  // we have to use percentage in order to allow people increase default

  font-size: 62.5%; // = 10px - this value is used for 7-1 rem
}

body {
  box-sizing: border-box;
}
