.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    //smooth transitions
    transition: all .2s;
    font-size: $default-font-size;
    //position for pseudo element
    position: relative;

    //for the <button>
    border: none;
    cursor: pointer;
  }

  &:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);

    //btn:hover::after
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:focus,
  &:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }

  //element that is EXACTLY like a button, but behind it
  &::after {
    content: ""; //required property for pseudo element to appear
    display: inline-block; //required property for pseudo element to appear
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    //btn--white::after
    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary-dark;
    color: $color-white;

    //btn--white::after
    &::after {
      background-color: $color-primary-dark;
    }
  }

  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    /*animation-name: moveInRight;*/
    /*animation-duration: 1s;*/
    /*animation-timing-function: ease-out;*/
    /*animation-delay: .75s;*/

    animation-fill-mode: backwards; //initial keyframe styles are added
  }

}

.btn-text{
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    font-size: $default-font-size;
    transition: all .2s;
  }

  &:hover {
    color: $color-white;
    background-color: $color-primary;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active{
    box-shadow: 0 .5rem 2rem rgba($color-black, .15);
    transform: translateY(-1px);
  }
}