<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" class="form">
    <div class="form__group">
        <input id="name" type="text" class="form__input" placeholder="Full Name" required>
        <label for="name" class="form__label">Full name</label>
    </div>

    <div class="form__group">
        <input id="email" type="email" class="form__input" placeholder="Email address" required>
        <label for="email" class="form__label">Email address</label>
    </div>

    <div class="form__group">
        <div class="form__radio-group">
            <input id="small" type="radio" class="form__radio-input" name="size">
            <label class="form__radio-label" for="small">
                <span class="form__radio-button"></span>
                Small tour group
            </label>
        </div>
        <div class="form__radio-group">
            <input id="large" type="radio" class="form__radio-input" name="size">
            <label class="form__radio-label" for="large">
                <span class="form__radio-button"></span>
                Large tour group
            </label>
        </div>
    </div>
</form>

</body>
</html>