// Normalizing CSS
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {

  //Default font-size is 16px
  //so to make font size 10px we divide 10 by 16
  // we have to use percentage in order to allow people increase default

  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%


  //media queries

  //width < 1200
  @include respond(tab-land) {
    font-size: 56.25% //1 rem = 9px; 9/16 = 56.25%
  }

  //width < 900
  @include respond(tab-port) {
    font-size: 50% //1 rem = 8px; 8/16 = 50%
  }

  //width > 1800
  @include respond(big-desktop) {
    font-size: 75% //1 rem = 12px; 12/16 = 75%
  }
}

body {
  font-family: "Lato";
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;

  box-sizing: border-box;
}