<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="story">
        <figure class="story__shape">
            <img class="story__img" src="img/nat-8.jpg" alt="Person on a tour">
            <figcaption class="story__caption">
                Mary Smith
            </figcaption>
        </figure>
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">
                I had a best week ever with my family
            </h3>
            <p class="">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, odit sed! Asperiores aut cumque distinctio error, eum eveniet expedita, explicabo ipsa iste numquam perferendis placeat quos recusandae sit voluptatem voluptatum.
            </p>
        </div>
    </div>
</body>
</html>